<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".FloatingControlApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FltCtl"
        tools:targetApi="33" >

        <activity
            android:name=".tests.ViewBasedTestsContainerActivity"
            android:configChanges="layoutDirection|screenLayout|orientation|screenSize|keyboard|keyboardHidden|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.wTitleBar" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.FltCtl" />

        <service
            android:name=".controls.service.FloatingControlAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config_fltctl" />
        </service>

        <activity
            android:name=".tests.ColorPaletteActivity"
            android:exported="false"
            android:label="@string/title_activity_color_palette"
            android:theme="@style/Theme.FltCtl" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FltCtl" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".appselection.ui.AppSelectActivity"
            android:exported="true"
            android:label="@string/title_activity_app_select"
            android:launchMode="standard"
            android:taskAffinity="com.example.fltctl.standalone_appselect"
            android:theme="@style/Theme.FltCtl" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tests.TestEntry$TestEntryListActivity"
            android:exported="${isDebug}"
            android:label="@string/title_activity_test_entry"
            android:taskAffinity="com.example.fltctl.standalone_testentry"
            android:launchMode="standard"
            android:theme="@style/Theme.FltCtl" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>